:root {
  --md-sys-color-primary: rgb(179 197 255);
  --md-sys-color-surface-tint: rgb(179 197 255);
  --md-sys-color-on-primary: rgb(25 46 96);
  --md-sys-color-primary-container: rgb(49 69 120);
  --md-sys-color-on-primary-container: rgb(218 225 255);
  --md-sys-color-secondary: rgb(177 197 255);
  --md-sys-color-on-secondary: rgb(22 46 96);
  --md-sys-color-secondary-container: rgb(47 69 120);
  --md-sys-color-on-secondary-container: rgb(218 226 255);
  --md-sys-color-tertiary: rgb(210 201 114);
  --md-sys-color-on-tertiary: rgb(53 49 0);
  --md-sys-color-tertiary-container: rgb(77 72 0);
  --md-sys-color-on-tertiary-container: rgb(239 229 139);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(86 30 25);
  --md-sys-color-error-container: rgb(115 52 45);
  --md-sys-color-on-error-container: rgb(255 218 213);
  --md-sys-color-background: rgb(18 19 24);
  --md-sys-color-on-background: rgb(227 226 233);
  --md-sys-color-surface: rgb(15 20 23);
  --md-sys-color-on-surface: rgb(223 227 231);
  --md-sys-color-surface-variant: rgb(68 71 79);
  --md-sys-color-on-surface-variant: rgb(197 198 208);
  --md-sys-color-outline: rgb(142 144 153);
  --md-sys-color-outline-variant: rgb(68 71 79);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 231);
  --md-sys-color-inverse-on-surface: rgb(44 49 53);
  --md-sys-color-inverse-primary: rgb(73 93 146);
  --md-sys-color-primary-fixed: rgb(218 225 255);
  --md-sys-color-on-primary-fixed: rgb(0 24 73);
  --md-sys-color-primary-fixed-dim: rgb(179 197 255);
  --md-sys-color-on-primary-fixed-variant: rgb(49 69 120);
  --md-sys-color-secondary-fixed: rgb(218 226 255);
  --md-sys-color-on-secondary-fixed: rgb(0 25 70);
  --md-sys-color-secondary-fixed-dim: rgb(177 197 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(47 69 120);
  --md-sys-color-tertiary-fixed: rgb(239 229 139);
  --md-sys-color-on-tertiary-fixed: rgb(31 28 0);
  --md-sys-color-tertiary-fixed-dim: rgb(210 201 114);
  --md-sys-color-on-tertiary-fixed-variant: rgb(77 72 0);
  --md-sys-color-surface-dim: rgb(15 20 23);
  --md-sys-color-surface-bright: rgb(53 58 61);
  --md-sys-color-surface-container-lowest: rgb(10 15 18);
  --md-sys-color-surface-container-low: rgb(24 28 31);
  --md-sys-color-surface-container: rgb(28 32 36);
  --md-sys-color-surface-container-high: rgb(38 43 46);
  --md-sys-color-surface-container-highest: rgb(49 53 57);
}
